.navbar {
    font-size: 1.1rem;
    background-color: #28a745;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-nav .nav-link {
    margin-right: 10px;
}

.navbar .btn-outline-light {
    margin-left: 10px;
}
