Form.d-flex {
    width: 100%;
    justify-content: flex-start;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    height: 200px;
    object-fit: cover;
}

input.form-control {
    max-width: none;
    margin: 0;
    display: block;
    flex-grow: 1;
}

button[type="submit"] {
    flex-shrink: 0;
}