@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  --bs-primary: #28a745;
  --bs-primary-rgb: 40, 167, 69;
  --bs-primary-bg-subtle: #d4edda;
  --bs-success: #198754;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #28a745;
    border-color: #28a745;
}
